<div class="country-header">
    <img src="{{flags.svg}}" alt="flag" width="50" heigth="30">
    <h1 class="country-name">{{name.official}}</h1>
</div>
<p><b>Capital:</b> {{capital}}</p>
<p><b>Population:</b> {{population}}</p>
<p><b>Languages:</b> {{#each languages}}{{this}}, {{/each}}</p>