<div class="country-header">
    <img src="{{countries[0].flags.svg}}" alt="flag" width="30" heigth="50">
    <h2 class="country-name">{{countries[0].name.official}}</h2>
</div>
<p>Capital: {{countries[0].capital}}</p>
<p>Population: {{countries[0].population}}</p>
<p>Languages: {{Object.values(countries[0].languages)}}</p>